<a href="https://colab.research.google.com/github/Ishakasar/Recommender-engine/blob/main/Isha_Kasar_Team_2_Capstone_Project_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b><u> Project Title : Build a recommender engine that reviews customer ratings and purchase history to recommend items and improve sales. </u></b>

### Amazon.com is one of the largest electronic commerce and cloud computing companies.

### Just a few Amazon related facts:

### They lost $4.8 million in August 2013, when their website went down for 40 mins. They hold the patent on 1-Click buying, and licenses it to Apple. Their Phoenix fulfilment centre is a massive 1.2 million square feet. Amazon relies heavily on a Recommendation engine that reviews customer ratings and purchase history to recommend items and improve sales.


### This is a dataset related to over 2 Million customer reviews and ratings of Beauty related products sold on their website.

### It contains

* ### the unique UserId (Customer Identification),
* ### the product ASIN (Amazon's unique product identification code for each product),
* ### Ratings (ranging from 1-5 based on customer satisfaction) and
* ### the Timestamp of the rating (in UNIX time)

### This dataset contains product reviews and metadata from Amazon, including 142.8 million reviews spanning May 1996 - July 2014.

### This dataset includes reviews (ratings, text, helpfulness votes), product metadata (descriptions, category information, price, brand, and image features), and links (also viewed/also bought graphs).

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import scipy
import pandas as pd
import math
import random
import sklearn
from nltk.corpus import stopwords
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from scipy.sparse.linalg import svds
import matplotlib.pyplot as plt

In [3]:
df1=pd.read_csv('/content/drive/MyDrive/AlmaBetter/Cohort Aravali/Module 4/Week 4/ratings_Beauty.csv')

In [4]:
df2=pd.read_json('/content/drive/MyDrive/AlmaBetter/Cohort Aravali/Module 4/Week 4/reviews_Beauty_5.json.gz', lines = True)

In [5]:
df1.head()

           UserId   ProductId  Rating   Timestamp
0  A39HTATAQ9V7YF  0205616461     5.0  1369699200
1  A3JM6GV9MNOF9X  0558925278     3.0  1355443200
2  A1Z513UWSAAO0F  0558925278     5.0  1404691200
3  A1WMRR494NWEWV  0733001998     4.0  1382572800
4  A3IAAVS479H7M7  0737104473     1.0  1274227200

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2023070 entries, 0 to 2023069
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   UserId     object
 1   ProductId  object
 2   Rating     float64
 3   Timestamp  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 61.7+ MB

In [7]:
df1.describe()

             Rating     Timestamp
count  2.023070e+06  2.023070e+06
mean   4.149036e+00  1.360389e+09
std    1.311505e+00  4.611860e+07
min    1.000000e+00  9.087552e+08
25%    4.000000e+00  1.350259e+09
50%    5.000000e+00  1.372810e+09
75%    5.000000e+00  1.391472e+09
max    5.000000e+00  1.406074e+09

In [8]:
df1.isnull().sum()

UserId       0
ProductId    0
Rating       0
Timestamp    0
dtype: int64

In [9]:
df2.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A1YJEY40YUW4SE  7806397051  ...     1391040000  01 30, 2014
1   A60XNB876KYML  7806397051  ...     1397779200  04 18, 2014
2  A3G6XNM240RMWA  7806397051  ...     1378425600   09 6, 2013
3  A1PQFP6SAJ6D80  7806397051  ...     1386460800   12 8, 2013
4  A38FVHZTNQ271F  7806397051  ...     1382140800  10 19, 2013

[5 rows x 9 columns]

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198502 entries, 0 to 198501
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   reviewerID      198502 non-null  object
 1   asin            198502 non-null  object
 2   reviewerName    197116 non-null  object
 3   helpful         198502 non-null  object
 4   reviewText      198502 non-null  object
 5   overall         198502 non-null  int64
 6   summary         198502 non-null  object
 7   unixReviewTime  198502 non-null  int64
 8   reviewTime      198502 non-null  object
dtypes: int64(2), object(7)
memory usage: 13.6+ MB

In [11]:
df2.describe()

             overall  unixReviewTime
count  198502.000000    1.985020e+05
mean        4.190391    1.364450e+09
std         1.166580    3.841937e+07
min         1.000000    1.023840e+09
25%         4.000000    1.354493e+09
50%         5.000000    1.372205e+09
75%         5.000000    1.391213e+09
max         5.000000    1.406074e+09

In [12]:
df2.isnull().sum()

reviewerID           0
asin                 0
reviewerName      1386
helpful              0
reviewText           0
overall              0
summary              0
unixReviewTime       0
reviewTime           0
dtype: int64

In [13]:
df1.head()

           UserId   ProductId  Rating   Timestamp
0  A39HTATAQ9V7YF  0205616461     5.0  1369699200
1  A3JM6GV9MNOF9X  0558925278     3.0  1355443200
2  A1Z513UWSAAO0F  0558925278     5.0  1404691200
3  A1WMRR494NWEWV  0733001998     4.0  1382572800
4  A3IAAVS479H7M7  0737104473     1.0  1274227200

In [14]:
df2.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A1YJEY40YUW4SE  7806397051  ...     1391040000  01 30, 2014
1   A60XNB876KYML  7806397051  ...     1397779200  04 18, 2014
2  A3G6XNM240RMWA  7806397051  ...     1378425600   09 6, 2013
3  A1PQFP6SAJ6D80  7806397051  ...     1386460800   12 8, 2013
4  A38FVHZTNQ271F  7806397051  ...     1382140800  10 19, 2013

[5 rows x 9 columns]

In [15]:
df2[['reviewerID','asin']].duplicated().value_counts()

False    198502
dtype: int64

In [16]:
df=df1.sample(frac = 0.4)

In [17]:
users_interactions_count_df = df.groupby(['UserId', 'ProductId']).size().groupby('UserId').size()
print('# of users: %d' % len(users_interactions_count_df))

interaction_df = users_interactions_count_df[users_interactions_count_df >= 5].reset_index()[['UserId']]
print('# of users with at least 5 interactions: %d' % len(interaction_df))

# of users: 594436
# of users with at least 5 interactions: 11335

In [18]:
users_interactions_count_df.head()

UserId
A00008821J0F472NDY6A2    1
A000186437REL8X2RW8UW    1
A00029263J863WSR0TDRS    1
A00031961JI1CBNV98TW     1
A00088021N0VU5Z2UM73L    1
dtype: int64

In [19]:
interaction_df.head()

                  UserId
0   A0078719IR14X3NNUG0F
1  A02155413BVL8D0G7X6DN
2  A029527620Q3SK5XW16RR
3  A03364251DGXSGA9PSR99
4  A042274212BJJVOBS4Q85

In [20]:
''

''

In [21]:
interactions_from_selected_users_df = df1.merge(interaction_df, 
               how = 'right',
               left_on = 'UserId',
               right_on = 'UserId')
print('# of interactions from users with at least 5 interactions: %d' % len(interactions_from_selected_users_df))

# of interactions from users with at least 5 interactions: 196962

In [22]:
interactions_from_selected_users_df.head(20)

                   UserId   ProductId  Rating   Timestamp
0    A0078719IR14X3NNUG0F  B001CE6T76     4.0  1367798400
1    A0078719IR14X3NNUG0F  B005Y6F4WO     5.0  1367280000
2    A0078719IR14X3NNUG0F  B0069FDR96     5.0  1367193600
3    A0078719IR14X3NNUG0F  B006L1DNWY     5.0  1366416000
4    A0078719IR14X3NNUG0F  B007HORL1I     5.0  1370044800
5    A0078719IR14X3NNUG0F  B0083QNBCM     5.0  1367798400
6    A0078719IR14X3NNUG0F  B008RRX9CE     5.0  1366416000
7    A0078719IR14X3NNUG0F  B008SPOKIW     5.0  1367452800
8    A0078719IR14X3NNUG0F  B0098T2JWG     5.0  1368835200
9    A0078719IR14X3NNUG0F  B0098T3D5I     5.0  1368835200
10   A0078719IR14X3NNUG0F  B00A86ST0E     5.0  1370044800
11   A0078719IR14X3NNUG0F  B00BNB38AO     5.0  1367193600
12  A02155413BVL8D0G7X6DN  B0010BQ8EA     5.0  1361491200
13  A02155413BVL8D0G7X6DN  B00117CH5M     3.0  1367366400
14  A02155413BVL8D0G7X6DN  B001DYLHJA     5.0  1351123200
15  A02155413BVL8D0G7X6DN  B001G2LWDK     5.0  1354752000
16  A02155413BVL8D0G7X6DN  B002787ACO     5.0  1395964800
17  A02155413BVL8D0G7X6DN  B002J6YIC4     5.0  1367712000
18  A02155413BVL8D0G7X6DN  B002WJHL22     5.0  1361491200
19  A02155413BVL8D0G7X6DN  B003FO70Z6     5.0  1367366400

In [23]:
df1.shape

(2023070, 4)

In [24]:
interactions_from_selected_users_df.shape

(196962, 4)

In [25]:
import math
def smooth_user_preference(x):
    return math.log(1+x, 2)
    
interactions_full_df = interactions_from_selected_users_df.groupby(['UserId', 'ProductId'])['Rating'].sum().apply(smooth_user_preference).reset_index()
print('# of unique user/item interactions: %d' % len(interactions_full_df))
interactions_full_df.head()

# of unique user/item interactions: 196962

                 UserId   ProductId    Rating
0  A0078719IR14X3NNUG0F  B001CE6T76  2.321928
1  A0078719IR14X3NNUG0F  B005Y6F4WO  2.584963
2  A0078719IR14X3NNUG0F  B0069FDR96  2.584963
3  A0078719IR14X3NNUG0F  B006L1DNWY  2.584963
4  A0078719IR14X3NNUG0F  B007HORL1I  2.584963

In [26]:
interactions_train_df, interactions_test_df = train_test_split(interactions_full_df,
                                   stratify=interactions_full_df['UserId'], 
                                   test_size=0.30,
                                   random_state=42)

In [27]:

print('# interactions on Train set: %d' % len(interactions_train_df))
print('# interactions on Test set: %d' % len(interactions_test_df))

# interactions on Train set: 137873
# interactions on Test set: 59089

##Creating pivot table

In [28]:
#Creating a sparse pivot table with users in rows and items in columns
pivot_matrix_df = interactions_train_df.pivot(index='UserId', 
                                                          columns='ProductId', 
                                                          values='Rating').fillna(0)

In [29]:
pivot_matrix_df.shape

(11335, 55249)

In [30]:
df2.shape

(198502, 9)

In [31]:
pivot_matrix_df.head()

ProductId              0762451459  1304139212  ...  B00LMOT7X4  B00LNOKBYW
UserId                                         ...
A0078719IR14X3NNUG0F          0.0         0.0  ...         0.0         0.0
A02155413BVL8D0G7X6DN         0.0         0.0  ...         0.0         0.0
A029527620Q3SK5XW16RR         0.0         0.0  ...         0.0         0.0
A03364251DGXSGA9PSR99         0.0         0.0  ...         0.0         0.0
A042274212BJJVOBS4Q85         0.0         0.0  ...         0.0         0.0

[5 rows x 55249 columns]

In [32]:
pivot_matrix = pivot_matrix_df.values
pivot_matrix[:10]

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [33]:
users_ids = list(pivot_matrix_df.index)
users_ids[:10]

['A0078719IR14X3NNUG0F',
 'A02155413BVL8D0G7X6DN',
 'A029527620Q3SK5XW16RR',
 'A03364251DGXSGA9PSR99',
 'A042274212BJJVOBS4Q85',
 'A07739331MLU43RRRK661',
 'A08409921GVN7C8RD97CV',
 'A0908131Z7BWYSMRQ16T',
 'A100UD67AHFODS',
 'A100WO06OQR8BQ']

##SVD

In [34]:
# The number of factors to factor the user-item matrix.
NUMBER_OF_FACTORS_MF = 30

#Performs matrix factorization of the original user item matrix
U, sigma, Vt = svds(pivot_matrix, k = NUMBER_OF_FACTORS_MF)

In [35]:
pivot_matrix.shape

(11335, 55249)

In [36]:
U.shape

(11335, 10)

In [37]:
sigma = np.diag(sigma)
sigma.shape

(10, 10)

In [38]:
Vt.shape

(10, 55249)

In [39]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) 
all_user_predicted_ratings

array([[ 2.90201109e-05,  4.23574062e-07,  4.23574062e-07, ...,
         9.40795223e-04,  1.13814536e-03,  3.64050379e-04],
       [ 1.03858807e-03,  1.12397169e-07,  1.12397169e-07, ...,
        -3.44822415e-03,  1.01506893e-03,  2.34498847e-05],
       [ 2.02706881e-04,  4.52434113e-08,  4.52434113e-08, ...,
         6.42053798e-04,  2.82472767e-04,  2.69098639e-05],
       ...,
       [ 8.69747395e-07,  2.55792088e-08,  2.55792088e-08, ...,
         1.58888384e-04,  6.24218893e-05,  2.15291218e-05],
       [ 2.49559819e-05,  6.69410771e-09,  6.69410771e-09, ...,
        -5.93541019e-05,  5.13797389e-05,  5.47334487e-06],
       [ 5.57345212e-04,  1.62161693e-07,  1.62161693e-07, ...,
         1.34083240e-03,  8.59535723e-04,  1.18399393e-04]])

In [40]:
all_user_predicted_ratings.shape

(11335, 55249)

In [41]:
#Converting the reconstructed matrix back to a Pandas dataframe
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = pivot_matrix_df.columns, index=users_ids).transpose()
preds_df.head()

            A0078719IR14X3NNUG0F  ...  AZZT1ERHBSNQ8
ProductId                         ...
0762451459          2.902011e-05  ...   5.573452e-04
1304139212          4.235741e-07  ...   1.621617e-07
130414643X          4.235741e-07  ...   1.621617e-07
1304174867          4.235741e-07  ...   1.621617e-07
1304351475          1.446723e-03  ...   2.346674e-04

[5 rows x 11335 columns]

In [42]:
df2['reviewerID'].value_counts()

A2V5R832QCSOMX    204
ALNFHVS3SC4FV     192
AKMEY1BSHSDG7     182
A3KEZLJ59C1JVH    154
ALQGOMOY1F5X9     150
                 ...
A2ZT5T3FBCOXQV      5
A1NCBAR3ANANGR      5
A2RE87ZZU4D5JK      5
A1WA5SRH3ZYIQJ      5
AZM2QKIIGG9I2       5
Name: reviewerID, Length: 22363, dtype: int64